<div>
  <div class="air__utils__heading">
    <h5><strong>Add client</strong></h5>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-body">      
          <h5 class="mb-4">
            <strong>Company details</strong>
          </h5>
          <add-client-form>
          </add-client-form>
        </div>          
      </div>

      <!-- <div class="card">
        <div class="card-body">      

          <div class="row">
            <div class="col-10">
              <h5><strong>Contact person</strong></h5>
            </div>
            <div class="col-2">
  
              <button [routerLink]="'/client/add_contact_person'" class="btn btn-md btn-primary btn-with-addon pull-right text-nowrap ac-btn" id="add-client-btn">
                <span class="btn-addon">
                  <i class="btn-addon-icon fe fe-user-plus"></i>
                </span>
                <strong>Add Contact Person</strong>
              </button>
  
            </div>
          </div>
  
          <div class="row"> 
            <div class="col-12">
              <contact-person-table>
              </contact-person-table>
            </div>
          </div>
        </div> 
      </div> -->

    </div>
  </div>
</div>