<div>
  <div class="row">
    <div class="col-xl-4 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-wrap flex-column align-items-center">
            <div class="kit__utils__avatar kit__utils__avatar--size64 mb-3">
              <img [src]="originalUrl" [attr.alt]="userData?.name" />
            </div>
            <div class="text-center">
              <div class="text-dark font-weight-bold font-size-18">{{userData?.name}}</div>
              <div class="text-uppercase font-size-12 mb-3">{{userData?.email}}</div>
              <button type="button" class="btn btn-primary btnWithAddon mb-2" disabled>
                <span class="btnAddon">
                  <i class="btnAddonIcon fe fe-user"></i>
                </span>
                {{userData?.is_admin ? 'Admin' : 'Contact Person'}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" [formGroup]="updatePasswordForm">
          <div class="d-flex flex-wrap flex-column align-items-center">
            <h5 class="text-black mt-2 mb-3">
              <strong>Update Password</strong>
            </h5>
            <div class="col-lg-12">

              <nz-form-label nzFor="password">New Password </nz-form-label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input type="password" placeholder="Enter New Password" id="password" formControlName="password">
                  <app-validation-popover [control]="updatePasswordForm.controls.password" [show]="submitted">
                  </app-validation-popover>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-12">
              <nz-form-label nzFor="confPassword">Confirm Password </nz-form-label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input type="password" placeholder="Enter Confirm password" id="confPassword" formControlName="c_password">

                  <app-validation-popover [control]="updatePasswordForm.controls.c_password" [show]="submitted">
                  </app-validation-popover>
                </nz-form-control>
              </nz-form-item>

            </div>
            <div class="form-actions">
              <button nz-button style="width: 150px;" [nzType]="'primary'" (click)="UpdatePasword();">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-12">
      <div class="card">
        <div class="card-header card-header-flex flex-column">
          <div class="d-flex flex-wrap border-bottom pt-3 pb-4 mb-3">
            <div class="mr-5">
              <div class="text-dark font-size-18 font-weight-bold">{{userData?.name}}</div>
              <div class="text-gray-6">{{userData?.email}}</div>
            </div>
          </div>
          <nz-tabset class="kit-tabs kit-tabs-bold" (nzSelectedIndexChange)="changeKey($event)">

            <nz-tab nzTitle="Settings"></nz-tab>
          </nz-tabset>
        </div>
        <div class="card-body">
          <form nz-form [nzLayout]="'vertical'" [formGroup]="profileForm">
            <h5 class="text-black mt-2 mb-3">
              <strong>Personal Information</strong>
            </h5>
            <div class="row">
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="userName">User Name:</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Enter Name" id="userName" formControlName="name">
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-lg-6">
                <nz-form-item>
                  <nz-form-label nzFor="email">Email :</nz-form-label>
                  <nz-form-control>
                    <input nz-input placeholder="Enter Email" id="email" formControlName="email">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-xs-12 d-flex flex-column justify-content-center align-items-center">
                <h5 class="text-black mt-2 mb-3">
                  <strong>Profile Avatar</strong>
                </h5>
                <div class="upload-logo">
                  <div id="logo-space">
                    <img id="logo-image" [src]="profileImageUrl" *ngIf="profileImageUrl" />
                    <h4 class="text-center text-blue mt-5" *ngIf="!profileImageUrl">Profile Avatar</h4>
                  </div>
                  <nz-form-item>
                    <span class="btn btn-primary btn-file">
                      <i nz-icon nzType="upload"></i> Upload <input type="file" (change)="handleChange($event)"> </span>

                  </nz-form-item>
                </div>
              </div>
            </div>
            <div class="form-actions">
              <button nz-button style="width: 150px;" [nzType]="'primary'" class="mr-3"
                (click)="Submit();">Update</button>
              <button nz-button>Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
