<div class="footer" [ngClass]="{footerFullWidth: !isContentMaxWidth}">
  <div class="inner">
    <div class="row">
      <div class="col-md-8">
        <p>
          <strong>SolidDigital - Customer Portal</strong>
        </p>
        <p>
          We believe that an organization can always achieve more returns, including your company. 
          We are happy to discuss how software and apps can be used to achieve maximum returns. 
          Without obligation of course. Coffee at the office or a virtual appointment?
        </p>
        <br />
        <p className="mb-0">
          Copyright © 2020-{{ currentYear }} Solid Digital |
          <a href="https://www.soliddigital.nl/privacy-policy" target="_blank" rel="noopener noreferrer">
            Privacy Policy
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <img src="/assets/images/logo-dark.svg" class="footer-logo"/>
      </div>
    </div>
  </div>
</div>