<div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card mb-5"> 
        <div class="card-body"> 
          <h3 class="text-blue text-center"><strong>Client Logo Space</strong></h3>
          <br />
          <p class="text-center">Some Text Here</p>
        </div>          
      </div>
    </div>
  </div>
 

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card mb-5"> 
          <div class="card-body">
            <confirm-account-form>
            </confirm-account-form>
          </div>
      </div>
    </div>
  </div>
        