
      <div class="text-dark font-size-32 mb-3">Confirm Account</div>
      
      <form nz-form [nzLayout]="'vertical'" [formGroup]="form" role="form">
        <nz-form-item>
          <nz-form-label nzFor="password">Password</nz-form-label>
          <nz-form-control nzErrorTip="Please enter your desired Password!">
            <input type="password" nz-input formControlName="password" nzSize="large" placeholder="Password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="confirm_password">Confirm Password</nz-form-label>
          <nz-form-control nzErrorTip="Please confirm your Password!">
            <input type="password" nz-input nzSize="large" formControlName="confirm_password" placeholder="Confirm Password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button [routerLink]="'/customer/dashboard'" nzType="primary" [nzSize]="'large'" class="text-center w-100">
              <strong>Save</strong>
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>