<form nz-form [nzLayout]="'verical'" [formGroup]="contentForm">
  <nz-form-item>
    <nz-form-label>Name</nz-form-label>
    <nz-form-control>
      <input nz-input placeholder="Content Name" id="content_name" formControlName="content_name" />

      <app-validation-popover [control]="contentForm.controls.content_name" [show]="submitted">
      </app-validation-popover>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Type</nz-form-label>
    <nz-form-control>
      <nz-select style="width: 100%" ngSize="large" nzPlaceHolder="Please select content type" class="select-input"
        id="content_type" formControlName="content_type">
        <nz-option *ngFor="let option of contentTypes" [nzLabel]="option.label" [nzValue]="option.value"
          class="select-label">
        </nz-option>

      </nz-select>

      <app-validation-popover [control]="contentForm.controls.content_type" [show]="submitted">
      </app-validation-popover>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Email Subject</nz-form-label>
    <nz-form-control>
      <input nz-input placeholder="Email Subject" id="content_email_subject" formControlName="content_email_subject" />

      <app-validation-popover [control]="contentForm.controls.content_email_subject" [show]="submitted">
      </app-validation-popover>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label>Content</nz-form-label>
    <div id="content_editor">
      <quill-editor [style]="{height: '200px'}" formControlName="content_html"></quill-editor>

      <app-validation-popover [control]="contentForm.controls.content_html" [show]="submitted">
      </app-validation-popover>
    </div>
  </nz-form-item>

  <div class="pull-right">

    <nz-form-item>
      <a class="btn btn-lg btn-info  text-nowrap save-btn" [routerLink]="['/pages/content-management/contents']">
        Cancel
      </a>
      <button class="btn btn-lg btn-primary ml-2 btn-with-addon text-nowrap save-btn" type="submit"
        (click)="saveContent()">
        <span class="btn-addon">
          <i class="btn-addon-icon fe fe-save"></i>
        </span>
        Save
      </button>
    </nz-form-item>

  </div>

</form>
