<div>
  <div class="row">
    <div class="col-lg-12">
      <h5 class="mb-4"><strong>Email Invite To New Customers</strong></h5>
      <div class="mb-5">
        <div style="width: 100%; background: #f2f4f8; padding: 50px 20px; color: #514d6a; border-radius: 5px;">
          <div style="max-width: 700px; margin: 0 auto; font-size: 14px">
            <table style="border-collapse: collapse; border: 0; width: 100%; margin-bottom: 20px">
              <tr>
                <td style="vertical-align: top;">
                  <img src="assets/images/logo-dark.svg" alt="Air UI Admin Template" style="height: 40px" />
                </td>
                <td style="text-align: right; vertical-align: middle;">
                  <span style="color: #a09bb9;">
                    Some Description
                  </span>
                </td>
              </tr>
            </table>

            <div style="padding: 40px 40px 20px 40px; background: #fff;">
              <table style="border-collapse: collapse; border: 0; width: 100%;">
                <tbody>
                  <tr>
                    <td>
                      <h5 style="margin-bottom: 20px; color: #24222f; font-weight: 600">
                        Confirm Your Account
                      </h5>
                      <p>
                        Hi client firstname, <br /> <br />
                        We would like to invite you to our Customer Portal. To get access
                        you need to confirm your account.
                      </p>
                      <div style="text-align: center">
                        <a [routerLink]="'/auth/confirm_account'"
                          style="display: inline-block; padding: 11px 30px 6px; margin: 20px 0 30px; font-weight: bold; 15px; color: #fff; background: #1b55e3; border-radius: 5px">
                          Confirm Account
                        </a>
                      </div>
                      <p>Some other text here.</p>
                      <p>Best Regards,<br />Roderick de Wit - Solid Digital</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="text-align: center; font-size: 12px; color: #a09bb9; margin-top: 20px">
              <p>
                Solid Digital, Bothalaan 1, 1217 JP Hilversum, Netherlands.
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>