.ant-input {
  line-height: 2;
  font-size: 14px;
}

.select-input {
  font-size: 14px;
  color: #786fa4;
}

.select-label {
  color: #786fa4;
  font-size: 14px;
}
.save-btn {
  padding: 7px 14px 7px;
  font-size: 16px;
  font-weight: bold;
}

.ql-editor {
  align-self: center;
}

.card-body {
  padding-bottom: 0px;
}

.ac-btn {
  font-size: 16px;
  font-weight: bold;
}
