<form nz-form [nzLayout]="'vertical'" [formGroup]="contactPersonForm">
  <div class="row">

    <div class="col-9">

      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <!-- <nz-form-label nzFor="first_name">First Name</nz-form-label> -->
            <nz-form-control>
              <input nz-input placeholder="First Name" id="first_name" formControlName="first_name" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="col-6">
          <nz-form-item>
            <!-- <nz-form-label nzFor="last_name">Last Name</nz-form-label> -->
            <nz-form-control>
              <input nz-input placeholder="Last Name" id="last_name" formControlName="last_name" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="row">

        <div class="col-12">
          <nz-form-item>
            <!-- <nz-form-label nzFor="email">Email Address</nz-form-label> -->
            <nz-form-control>
              <input nz-input placeholder="Email Address" type="email" id="email" formControlName="email" />
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div class="row">

        <div class="col-12">

          <nz-form-item>
            <nz-form-control>
              <input nz-input type="checkbox" id="send_email_invite" formControlName="send_email_invite" value="1" />
              <nz-form-label nzFor="send_email_invite" class="ml-2">Send Email Invite ?</nz-form-label>
            </nz-form-control>
          </nz-form-item>

        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <nz-form-item>
            <!-- <nz-form-label nzFor="mobile_number">Mobile Number</nz-form-label> -->
            <nz-form-control>
              <input nz-input placeholder="Mobile Number" id="mobile_number" formControlName="mobile_number" />
            </nz-form-control>
          </nz-form-item>
        </div>


      </div>

      <div class="row">

        <div class="col-12">
          <nz-form-item>
            <nz-form-label nzFor="is_account_active">Is Account Active?</nz-form-label>
            <nz-form-control>
              <nz-select name="select-validate" [ngModel]="'No'" [nzSize]="'large'" class="select-input"
                id="is_account_active" formControlName="is_account_active">
                <nz-option nzValue="Yes" nzLabel="Yes" class="select-label"></nz-option>
                <nz-option nzValue="No" nzLabel="No" class="select-label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </div>

    <div class="col-3">

      <div class="upload-profile-image">

        <div id="profile-image-space">
          <img src="url" id="profile-image" [src]="url" *ngIf="url" />
          <h4 class="text-center text-blue mt-5" *ngIf="dummy_text">Profile Image</h4>
        </div>

        <nz-form-item>
          <span class="btn btn-primary btn-file">
            <i nz-icon nzType="upload"></i> Upload <input type="file" (change)="handleChange($event)"
              formControlName="profile_image"> </span>
        </nz-form-item>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <nz-form-item>
        <button type="button" (click)="saveContactPerson()" class="btn btn-primary save-btn">
          <strong>Save</strong>
        </button>
      </nz-form-item>
    </div>

    <div class="col-6">
      <nz-form-item>
        <button type="button" class="btn btn-primary save-btn" (click)="SaveandAddOther();">
          <strong>Save & Add Another</strong>
        </button>
      </nz-form-item>
    </div>
  </div>
</form>
