<form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" width="38%" sortable="name" (sort)="onSort($event)">Full Name</th>
        <th scope="col" width="50%">Has Access?</th>
        <th scope="col" width="12%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact_person of contactPersons">
        <td scope="row">
          <ngb-highlight [result]="contact_person.first_name" [term]="contactPersonService.searchTerm"></ngb-highlight>
        </td>
        <td scope="row">
          <ngb-highlight [result]="contact_person.is_account_active"></ngb-highlight>
        </td>
        <td scope="row">
          <button type="button" class="btn btn-sm btn-outline-success mr-2"
            (click)="editContactPerson(contact_person.id)">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger ml-2 mr-2"
            (click)="deleteContactPerson(contact_person.id)">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="contactPersonService.page"
      [pageSize]="contactPersonService.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="contactPersonService.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

</form>
